
node_modules
.npm
.settings/


package-lock.json
dist
build


# Workspace
.idea
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Python
__pycache__/
*.py[cod]


